@import '@fontsource/poppins';
@import '@fontsource/montserrat';
@import '@fontsource/inter';
@import 'tailwindcss';

html,
body {
    background-color: #f8fafc;
    font-family: "Poppins", sans-serif, system-ui, sans-serif !important;
}

@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-display: "Montserrat", sans-serif;
    --font-sans: "Inter", sans-serif;
}